.DS_Store
Makefile
bin/
Editor/build/
Editor/Martta.app/
Editor/Martta
Language/build
plugins/
plugin-loader/
support/build/
support/libsupport.a
support/support.xcodeproj/
/TODO~
/link.sh~
/.gitignore~
/Editor/Editor.pro.user
/Language/Language.pro.user
/support/support.pro.user
/Martta.pro.user
