Martta.tag
doc/
DS_Store
Makefile
bin/
Editor/build/
Editor/Martta.app/
Editor/Martta
Language/build
plugins/
plugin-loader/
support/build/
support/libsupport.a
support/support.xcodeproj/
/TODO~
/link.sh~
/.gitignore~
/Editor/Editor.pro.user
/Language/Language.pro.user
/support/support.pro.user
/Martta.pro.user
/HELP~
/Editor/Martta.vcproj
/Editor/Martta.vcproj.mama.Gav.user
/Editor/debug/Martta.exe
/Editor/debug/Martta.ilk
/Editor/debug/Martta.pdb
/Editor/vc90.idb
/Editor/vc90.pdb
/Language/CQualifiers/CQualifiers.vcproj
/Language/CQualifiers/CQualifiers.vcproj.mama.Gav.user
/Language/CQualifiers/CQualifiers_resource.rc
/Language/CStuff/CStuff.vcproj
/Language/CStuff/CStuff.vcproj.mama.Gav.user
/Language/CStuff/CStuff_resource.rc
/Language/CStuff/vc90.idb
/Language/CStuff/vc90.pdb
/Language/CTypes/CTypes.vcproj
/Language/CTypes/CTypes.vcproj.mama.Gav.user
/Language/CTypes/CTypes_resource.rc
/Language/Class/Class.vcproj
/Language/Class/Class.vcproj.mama.Gav.user
/Language/Class/Class_resource.rc
/Language/Class/vc90.idb
/Language/Class/vc90.pdb
/Language/Declaration/Declaration.vcproj
/Language/Declaration/Declaration.vcproj.mama.Gav.user
/Language/Declaration/Declaration_resource.rc
/Language/Declaration/vc90.idb
/Language/Declaration/vc90.pdb
/Language/Entity/Entity.vcproj
/Language/Entity/Entity.vcproj.mama.Gav.user
/Language/Entity/Entity_resource.rc
/Language/Entity/vc90.idb
/Language/Entity/vc90.pdb
/Language/Labels/Labels.vcproj
/Language/Labels/Labels.vcproj.mama.Gav.user
/Language/Labels/Labels_resource.rc
/Language/Labels/vc90.idb
/Language/Labels/vc90.pdb
/Language/Language.sln
/Language/Members/Members.vcproj
/Language/Members/Members.vcproj.mama.Gav.user
/Language/Members/Members_resource.rc
/Language/Members/vc90.idb
/Language/Members/vc90.pdb
/Language/Namers/Namers.vcproj
/Language/Namers/Namers.vcproj.mama.Gav.user
/Language/Namers/Namers_resource.rc
/Language/Namers/vc90.idb
/Language/Namers/vc90.pdb
/Language/Operator/Operator.vcproj
/Language/Operator/Operator.vcproj.mama.Gav.user
/Language/Operator/Operator_resource.rc
/Language/Operator/vc90.idb
/Language/Operator/vc90.pdb
/Language/Project/Project.vcproj
/Language/Project/Project.vcproj.mama.Gav.user
/Language/Project/Project_resource.rc
/Language/Project/vc90.idb
/Language/Project/vc90.pdb
/Language/Projects/Projects.vcproj
/Language/Projects/Projects.vcproj.mama.Gav.user
/Language/Projects/Projects_resource.rc
/Language/Projects/vc90.idb
/Language/Projects/vc90.pdb
/Language/SimpleTypes/SimpleTypes.vcproj
/Language/SimpleTypes/SimpleTypes.vcproj.mama.Gav.user
/Language/SimpleTypes/SimpleTypes_resource.rc
/Language/SimpleTypes/vc90.idb
/Language/SimpleTypes/vc90.pdb
/Language/Statement/Statement.vcproj
/Language/Statement/Statement.vcproj.mama.Gav.user
/Language/Statement/Statement_resource.rc
/Language/Statement/vc90.idb
/Language/Statement/vc90.pdb
/Language/Statements/Statements.vcproj
/Language/Statements/Statements.vcproj.mama.Gav.user
/Language/Statements/Statements_resource.rc
/Language/Statements/vc90.idb
/Language/Statements/vc90.pdb
/Language/TypeEntity/TypeEntity.vcproj
/Language/TypeEntity/TypeEntity.vcproj.mama.Gav.user
/Language/TypeEntity/TypeEntity_resource.rc
/Language/TypeEntity/vc90.idb
/Language/TypeEntity/vc90.pdb
/Language/Types/Types.vcproj
/Language/Types/Types.vcproj.mama.Gav.user
/Language/Types/Types_resource.rc
/Language/Types/vc90.idb
/Language/Types/vc90.pdb
/Language/Variables/Variables.vcproj
/Language/Variables/Variables.vcproj.mama.Gav.user
/Language/Variables/Variables_resource.rc
/Language/Variables/vc90.idb
/Language/Variables/vc90.pdb
/Language/WebView/WebView.vcproj
/Language/WebView/WebView.vcproj.mama.Gav.user
/Language/WebView/WebView_resource.rc
/Language/WebView/vc90.idb
/Language/WebView/vc90.pdb
/Martta.ncb
/Martta.sln
/Martta.suo
/support/support.dll
/support/support.exp
/support/support.ilk
/support/support.lib
/support/support.ncb
/support/support.pdb
/support/support.suo
/support/support.vcproj
/support/support.vcproj.mama.Gav.user
/support/vc90.idb
/support/vc90.pdb
/support/libsupport.so
/support/libsupport.so.1
/support/libsupport.so.1.0
/support/libsupport.so.1.0.0

/Editor/Entity.dll
/Editor/Makefile.Debug
/Editor/Makefile.Release
/Editor/Project.dll
/Editor/WebView.dll
/Editor/support.dll
/Language/CQualifiers/.CQualifiers-composed.cpp
/Language/CQualifiers/Makefile.Debug
/Language/CQualifiers/Makefile.Release
/Language/CQualifiers/vc90.pdb
/Language/CStuff/Makefile.Debug
/Language/CStuff/Makefile.Release
/Language/CTypes/.CTypes-composed.cpp
/Language/CTypes/Makefile.Debug
/Language/CTypes/Makefile.Release
/Language/CTypes/vc90.pdb
/Language/Class/Makefile.Debug
/Language/Class/Makefile.Release
/Language/Declaration/Makefile.Debug
/Language/Declaration/Makefile.Release
/Language/Entity/Makefile.Debug
/Language/Entity/Makefile.Release
/Language/Labels/Makefile.Debug
/Language/Labels/Makefile.Release
/Language/Members/Makefile.Debug
/Language/Members/Makefile.Release
/Language/Namers/Makefile.Debug
/Language/Namers/Makefile.Release
/Language/Operator/Makefile.Debug
/Language/Operator/Makefile.Release
/Language/Project/Makefile.Debug
/Language/Project/Makefile.Release
/Language/Projects/Makefile.Debug
/Language/Projects/Makefile.Release
/Language/SimpleTypes/Makefile.Debug
/Language/SimpleTypes/Makefile.Release
/Language/Statement/Makefile.Debug
/Language/Statement/Makefile.Release
/Language/Statements/Makefile.Debug
/Language/Statements/Makefile.Release
/Language/TypeEntity/Makefile.Debug
/Language/TypeEntity/Makefile.Release
/Language/Types/Makefile.Debug
/Language/Types/Makefile.Release
/Language/Variables/Makefile.Debug
/Language/Variables/Makefile.Release
/Language/WebView/Makefile.Debug
/Language/WebView/Makefile.Release
/support/Makefile.Debug
/support/Makefile.ReleaseMartta.tag
