.DS_Store
Makefile
bin/
Editor/build/
Editor/Martta.app/
Editor/Martta
Language/build
plugins/
plugin-loader/
support/build/
support/libsupport.a
support/support.xcodeproj/
.*-composed.cpp
/TODO~
/link.sh~
/.gitignore~
