Source: martta
Section: devel
Priority: optional
Maintainer: Gav Wood <gavin@quidprocode.co.uk>
Build-Depends: debhelper (>= 7), mawk, grep (>= 2.0.0), sed (>= 4.0.0), libqt4 (>= 4.6.0), g++
Standards-Version: 3.8.3
Homepage: http://martta.net/

Package: martta
Architecture: any
Depends: g++, gccxml
Description: C++ Language Workbench

